{% extends 'base.html' %}
{% block title %}Children{% endblock %}
{% block content %}
<h2 class="text-primary">Children List</h2>

{% if user.role == 'ADMIN' or user.role == 'PARENT'  %}
    <a href="{% url 'child_create' %}" class="btn btn-primary mb-3 shadow">Add Child</a>
{% endif %}

<table class="table table-hover shadow">
    <thead class="table-primary">
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Parent</th>
            <th>Notes</th>
            <th>Caregiver</th>
            <th>Message Caregiver</th>
            {% if user.role == 'ADMIN' %}
                <th>Actions</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for child in children %}
        <tr>
            <td>{{ child.name }}</td>
            <td>{{ child.age }}</td>
            <td>{{ child.parent.username }}</td>
            <td>
                {% if user.role == 'CAREGIVER' and child.caregiver == user %}
                    <a href="{% url 'care_notes' child.id %}" class="btn btn-info btn-sm">Add/View Notes</a>
                {% else %}
                    <a href="{% url 'care_notes' child.id %}" class="btn btn-secondary btn-sm">View Notes</a>
                {% endif %}
            </td>
            <td>
                {% if child.caregiver %}
                    {{ child.caregiver.username }}
                {% else %}
                    <span class="text-muted">Unassigned</span>
                {% endif %}
            </td>
            td
            <td>
                {% if child.caregiver %}
                    <a href="{% url 'send_message' child.caregiver.id %}" class="btn btn-primary btn-sm">Message</a>
                    <a href="{% url 'send_message' child.parent.id %}" class="btn btn-primary btn-sm">Message Parent</a>
                {% else %}
                    <span class="text-muted">No caregiver</span>
                {% endif %}
            </td>
            {% if user.role == 'ADMIN' %}
            <td>
                <a href="{% url 'child_update' child.id %}" class="btn btn-warning btn-sm">Edit</a>
                <a href="{% url 'child_delete' child.id %}" class="btn btn-danger btn-sm">Delete</a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
